*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  list-style: none;
  /* font-weight: 400; */
  font-style: normal;
    
    
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
:root{
  --bg-color: #b8daf3;
  --text-color: #000003;
  --main-color: #174de0;

}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header{
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px;
  transition: all .50s ease;
  background-color: #7c9aec;
}
.logo{
height: 80px;
margin: 0 10px;
}
.title {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: bolder;
}
.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 5px 0;
  margin: 0px 10px;
  transition: all .50s ease;
}
.navbar a:hover{
  color: var(--main-color);
}
.navbar a.active{
  color: var(--main-color);
}
.main{
  display: flex;
  align-items: center;
}
.main a{
  margin-right: 25px;
  margin-left: 10px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all .50s ease;
}
.main .user {
  color: black;
}
.main .phone {
  color: black;
}
.user{
  display: flex;
  align-items: center;
  transition: border 0.01s;
}
.user:hover,
.phone:hover {
color: var(--text-color);
transform: translateY(5px);
}
.user i{
  color: var(--main-color);
  font-size: 28px;
  margin-right: 7px;
}
.main a:hover{
  color: var(--main-color);
}
#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display :none;
}
@media (max-width: 1280px){
  header{
      padding: 14px 2%;
      transition: .2s;
  }
  .navbar a{
      padding: 5px 0;
      margin: 0px 20px;
  }

}
@media (max-width: 1090px){
  #menu-icon{
      display: block;
  }
  .navbar{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 270px;
      height: 270px;
      background-color: #638cff; 
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 10px;
      transition: all .50s ease;
  }
}
.navbar a {
  display: block;
  margin: 12px 0;
  padding: 0px 15px;
  transition: all .50s ease;
  color: white;
}
.navbar a:hover {
  color: var(--text-color);
  transform: translateY(5px);
}
.navbar.open{
  right: 2%;
}

.logo-title {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar a.active-page,
.main a.active-page {
  color: black;
  transform: translateY(5px);
}

.main .user-name {
  color: rgb(211, 0, 56);
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times, sans-serif;
}
#active-page-logout:hover {
  color: black;
  transform: translateY(5px);
}
#activeLogout {
  color: black;
  transform: translateY(5px);
}
#active-page-logout {
  color: white;
}