<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Seating</title>
<!-- remixicons -->
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
<!-- boxicons -->
    <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../CSS/Home-page.css">
  <link rel="stylesheet" href="../CSS/Rooms-page.css">

</head>
<body>
    <header>
        <img class="logo" src="../ALL_IMAGES/Main-Logo-png.png">
        <p class="title">SmartSeating</p>

        <ul class="navbar">
            <li><a href="#">Home</a></li>
            <li><a href="#">ClassroomDetails</a></li>
            <li><a href="#">StudentDetails</a></li>
            <li><a href="#">SeatAllotment</a></li>
            <li><a href="../HTML/Rooms-page.html">RoomDetails</a></li>
            <li><a href="#">InvigilatorDetails</a></li>

        </ul>

        <div class="main">
            <a href="{% url 'register' %}" class="user"><i class="ri-user-add-line"></i>Register</a>
            <a href="{% url 'login' %}" class="user"><i class="ri-user-3-fill"></i>Login</a>
            <a href="#" class="phone"><i class="ri-phone-fill"></i>ContactUs</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
    <main>
        <p class="room-title">Classroom Details</p>
        <div class="rooms-table">
            <div class="thd">S.No</div>
            <div class="thd">Room Number</div>
            <div class="thd">Floor</div>
            <div class="thd">Rows</div>
            <div class="thd">Columns</div>
            <div class="thd">Total Capacity</div>
        </div>
    </main>

    <!-- js-link -->
     <script src="../JS/Home-page.js">
     </script>
</body>
</html>